.message {
    padding: 7px 0;
    display: flex;
    flex-direction: row;
    background-color: #FFFF00;
    font-size: 24px;
}

.message__avatar {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.message__avatarImage {
    width: 80px;
    height: auto;
    border-radius: 50%;
}

.message__content {
    position: relative;
    border-radius: 20px;
    width: 370px;
    padding: 13px 0 13px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #FF0000;
}

.message__name {
    padding: 0 100px 0 23px;
    color: #000000;
}

.message__text {
    padding: 0 100px 0 23px;
    color: #00FFFF;
}

.message__time {
    position: absolute;
    right: 22px;
    bottom: 13px;
    color: #0000FF;
}
